[submodule "Spoons/Asana.spoon"]
	path = Spoons/Asana.spoon
	url = https://github.com/malob/Asana.spoon/
[submodule "Spoons/PersonalHotspot.spoon"]
	path = Spoons/PersonalHotspot.spoon
	url = https://github.com/malob/PersonalHotspot.spoon
[submodule "Spoons/USBDeviceActions.spoon"]
	path = Spoons/USBDeviceActions.spoon
	url = https://github.com/malob/USBDeviceActions.spoon
[submodule "Spoons/DarkMode.spoon"]
	path = Spoons/DarkMode.spoon
	url = https://github.com/malob/DarkMode.spoon
